/* #f7fafc */



/* CONTAINER FOR SCROLL SNAPPING */





/* INTRODUCTION */

.intro {
  width: 100vw;
  height: 91vh;
  margin-top: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-intro {
  width: fit-content;
}

.intro p {
  font-family: monospace;
  font-size: 11px;
  margin-left: 26px;
  margin-bottom: 0;
}

.intro h2 {
  font-size: 80px;
  font-weight: 900;
  width: 400px;
  margin-top: 2px;
  margin-bottom: 0;
  margin-left: 26px;
}

.intro h4 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 15px;
  width: 510px;
}

/* MAIN HOME PAGE */

.home-main {
  width: 100vw;
  height: 91vh;
  display: flex;
  flex-direction: column;
  padding-top: auto;
  background-color: #1f2428;
}

.home-main h3 {
  font-size: 48px;
  font-weight: 600;
  margin-top: 70px;
  margin-left: 300px;
}

.article-thumbnail-row1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: center;
}

.article-thumbnail {
  height: 320px;
  width: 280px;
  border-radius: 40px;
  overflow: hidden;
  margin-left: 35px;
  margin-right: 35px;
  background-color: seashell;
  color: black;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

.article-thumbnail p {
  width: 240px;
  margin-left: 10px;
  padding: 10px;
  margin-bottom: 180px;
  margin-top: -5px;
}

.article-thumbnail img {
  height: 255px;
  width: 280px;
  margin-bottom: 0;
}

.article-thumbnail:hover {
  transform: scale(1.1);
  background-color: lightgray;
  color: firebrick;
}

.article-thumbnail-row2 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: center;
}

.article-thumbnail-small {
  height: 45px;
  width: 240px;
  border-radius: 40px;
  overflow: hidden;
  margin-left: 35px;
  margin-right: 35px;
  background-color: seashell;
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding: 25px;
  transition: 0.2s ease-in-out;
}

.article-thumbnail-small:hover {
  transform: scale(1.1);
  background-color: lightgray;
  color: firebrick;
}

