* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Inter";
  background-color: #2b2e34;
  color: whitesmoke;
  font-size: 12px;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  background-color: #f7fafc;
  color: #2b2e34;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  position: fixed;
  height: 9vh;
}

/* NAVIGATION BAR */

.nav-bar {
  display: flex;
  justify-content: flex-start;
  /* height: 4.5%; */
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-button {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 50px;
  display: inline-block;
  height: 38px;
  width: auto;
  padding: 4px;
  background-color: #f7fafc;
  display: flex;
  line-height: 40px;
  width: max-content;
  size: 20px;
  transition: all 0.15s ease-in-out;
  align-items: center;
}

.nav-button span {
  text-align: center;
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 10px;
}

.nav-button i {
  margin-left: 8px;
}

.nav-button:hover {
  background-color: lightgray;
  font-weight: 500;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
}

/* CONTACT BAR */

.contact-bar {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
  color: black;
}

.contact-button {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;
  float: left;
  overflow: hidden;
  margin-left: 8px;
  transition: all 0.3s ease-in-out;
}

.contact-button span {
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  margin-left: 5px;
}

.contact-button:hover {
  width: 135px;
  background-color: lightgray;
}

.contact-button .contact-icon {
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
}

.contact-button .contact-icon i {
  font-size: 17px;
  line-height: 40px;
}


@media (max-width: 780px) {
  nav.nav {
    display: none;
  }
}